*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #edeff3;
}
#meme-title{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 20px;
}
p{
    text-align: center;
    padding: 10px;
}
#meme-form{
    max-width: 600px;
    margin: auto;
    height: 40vh;
}
.field-container{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.row label{width: 200px; margin: auto; justify-self: flex-start;}
.row input{width: 400px;}
#add-meme{
    float: right;
    margin-top: 10px;
    background-color: #3386ef;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}
#add-meme:active{
    background-color: #5897e9;
}
.meme-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.image-container{
    width: 250px;
    height: auto;
    margin: 10px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    font-weight: bolder;
    text-transform: uppercase;
}
.meme-container div img{
    width: 100%;
    height: 100%;
}
.text-top{
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 5px;
    left: 0;
}
.text-bottom{
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 5px;
    left: 0;
}
.hover-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s;
}
.hover-div:hover{
    background-color: rgba(0, 0, 0, 0.604);
    background-image: url('./close.svg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center center;
}